/* Resets */
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
body,
html,
p,
blockquote,
fieldset,

/* Global styles */
html {
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  background: #232323;
  color: #666666;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 3em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  color: #2a92e5;
  text-decoration: none;
}
a:hover {
  color: #2180cc;
}
a img,
a:hover img {
  border: none;
}
h2 {
  color: white;
  font-family: 'Raleway', serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 1.2em;
}
p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
}

blockquote {
  font-family: 'Raleway', serif;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  font-style: italic;
  text-align: center;
}
::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder {
  color: #626262;
}



select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  text-indent: 0.01px;
  text-overflow: '';
}

.container {
  width: 960px;
  margin: 0 auto;
}
/* Editor Overrides :: DO NOT REMOVE */
#icontent .wrapper .birdseye-header .logo,
#preview-iframe .landing-page .wrapper .birdseye-header .logo,
#icontent.landing-page .wrapper .birdseye-header .logo,
#icontent .wrapper .nav,
#preview-iframe .landing-page .wrapper .nav,
#icontent.landing-page .wrapper .nav,
#icontent .wrapper .banner-wrap .container,
#preview-iframe .landing-page .wrapper .banner-wrap .container,
#icontent.landing-page .wrapper .banner-wrap .container {
  opacity: 1 !important;
}
/* Fade out scroll */
body.fade-on-scroll .banner {
  opacity: 0;
}
/* Body class for pages with banner */
body.page-has-banner .birdseye-header {
  padding: 20px 30px;
}
body.page-has-banner .logo img {
  max-height: 60px;
}
body.page-has-banner .main-wrap {
  padding-top: 70px;
}
/* Fixed Nav */
body.page-has-banner.affix .birdseye-header,
body.splash-page.affix .birdseye-header {
  position: fixed;
  top: 0;
  background: rgba(35, 35, 35, 0.95);
  padding: 10px 30px;
}
/* Mobile app */
body.wsite-native-mobile-editor .birdseye-header {
  position: absolute !important;
}
/* Header */
.birdseye-header {
  position: fixed;
  z-index: 12;
  overflow-y: hidden;
  width: 100%;
  padding: 10px 30px;
  box-sizing: border-box;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -ms-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
}
.birdseye-header .container {
  display: table;
  overflow-y: hidden;
  width: 100%;
  max-height: 80px;
}
.birdseye-header label.hamburger {
  display: none;
}
.birdseye-header .logo {
  display: table-cell;
  overflow-y: hidden;
  margin-right: 30px;
  padding: 0;
  vertical-align: middle;
  line-height: normal;
}
.birdseye-header .logo a {
  display: block;
  margin-right: 30px;
  margin-left: 10px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: normal;
}
.birdseye-header .logo img {
  display: block;
  overflow: hidden;
  max-width: 200px;
  max-height: 40px;
}
.birdseye-header .logo #wsite-title {
  display: block;
  max-width: 400px;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: normal;
}
/* Nav */
.nav {
  display: table-cell;
  overflow-y: hidden;
  padding: 0;
  vertical-align: middle;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
.nav ul {
  float: right;
  overflow: hidden;
  max-width: 1115px;
}
.nav li {
  display: inline-block;
  margin-right: 5px;
  padding: 0;
}
.nav li > a.wsite-menu-item {
  display: block;
  padding: 8px 12px;
  border: 2px solid transparent;
  border-radius: 2px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}
.nav li#active > a.wsite-menu-item,
.nav li > a.wsite-menu-item:hover {
  border: 2px solid #ffffff;
}
.mobile-nav {
  display: none;
}
/* Subnav */
#wsite-menus .wsite-menu-wrap {
  margin-top: 10px;
}
#wsite-menus .wsite-menu {
  position: relative;
}
#wsite-menus .wsite-menu li a {
  background: #232323;
  color: white;
  border: none;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: normal;
}
#wsite-menus .wsite-menu li a:hover {
  background: #0a0a0a;
  color: white;
}
#wsite-menus .wsite-menu li > .wsite-menu-wrap {
  margin-top: 0;
}
#wsite-menus .wsite-menu-arrow {
  color: transparent;
  font-size: 0;
}
#wsite-menus .wsite-menu-arrow:before {
  display: block;
  color: white;
  content: '\203A';
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: normal;
  line-height: 11px;
}
/* Mini cart */
#wsite-mini-cart {
  position: fixed !important;
  top: 80px !important;
  overflow-y: scroll;
  max-height: 600px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#wsite-mini-cart .wsite-css-aspect {
  width: 50px;
  height: 50px;
  margin: 10px;
}
/* Banner */
.banner-wrap {
  position: relative;
  z-index: 6;
  overflow: hidden;
  height: 100%;
  background: url('default-bg.jpg') center center no-repeat;
  background-size: cover;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
.banner-wrap:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  content: ' ';
}
.banner-wrap .container {
  position: relative;
  display: table;
  width: 100%;
  height: 100%;
  padding: 80px 0;
}
.banner-wrap .banner {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
  text-align: center;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
.banner-wrap .banner h2 {
  padding: 0 0 10px;
  color: #ffffff;
  opacity: 1;
  font-family: 'Raleway', serif;
  font-size: 60px;
  font-weight: 400;
  line-height: 80px;
}
.banner-wrap .banner p {
  padding: 0 0 25px;
  color: #ffffff;
  opacity: 1;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}
.banner-wrap .banner .button-wrap {
  display: inline-block;
}
.banner-wrap .banner .wsite-button,
.banner-wrap .banner .wsite-button-large.wsite-button {
  text-align: center !important;
}
.banner-wrap .banner .wsite-button .wsite-button-inner,
.banner-wrap .banner .wsite-button-large.wsite-button .wsite-button-inner {
  background: #a1a1a1;
  color: white !important;
  border: 2px solid #a1a1a1;
  font-weight: 600;
}
.banner-wrap .banner .wsite-button:hover .wsite-button-inner,
.banner-wrap .banner .wsite-button-large:hover .wsite-button-inner {
  background: transparent;
  color: #a1a1a1;
}
.banner-wrap .banner .wsite-button-highlight .wsite-button-inner,
.banner-wrap .banner .wsite-button-large.wsite-button-highlight .wsite-button-inner {
  background: transparent;
  color: #ffffff !important;
  border: solid 2px #ffffff;
  font-weight: 600;
}
.banner-wrap .banner .wsite-button-highlight:hover .wsite-button-inner,
.banner-wrap .banner .wsite-button-large.wsite-button-highlight:hover .wsite-button-inner {
  background: #ffffff;
  color: #232323 !important;
}
/* Content */
.main-wrap {
  width: 100%;
  min-height: 700px;
  padding: 70px 0 50px;
  background: #ffffff;
  box-sizing: border-box;
}
.main-wrap h2 {
  padding-bottom: 15px;
}


/* Footer */
.footer-wrap {
  width: 100%;
  background-color: #262626;
  color: #999999;
  text-align: right;
  font-size: 13px;
}
.footer-wrap .container {
  width: 100%;
}
.footer-wrap .wsite-footer {
  width: 960px;
  margin: 0 auto;
  padding: 30px 0 20px;
  box-sizing: border-box;
}
.footer-wrap h2 {
  margin: 20px 0 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #3b3b3b;
  color: #ffffff;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}
.footer-wrap p {
  color: #999999;
  font-size: 13px;
}
.footer-wrap blockquote {
  color: #999999;
  font-size: 13px;
}

.footer-wrap .wsite-form-container {
  margin-top: 0;
  text-align: left;
}

.footer-wrap .form-select {
  padding: 10px;
  background: #181818 url(select-dropdown.png) 97% center no-repeat;
  color: #626262;
  border: none;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
}
.footer-wrap .wsite-button .wsite-button-inner,
.footer-wrap .wsite-button-large .wsite-button-inner {
  background: transparent;
  color: #2a92e5 !important;
  border: 2px solid #2a92e5;
}
.footer-wrap .wsite-button:hover .wsite-button-inner,
.footer-wrap .wsite-button-large:hover .wsite-button-inner {
  background: #2a92e5;
  color: #ffffff !important;
}


/* Media Queries */
@media screen and (max-width: 992px) {
  body.page-has-banner .birdseye-header,
  body.page-has-banner.affix .birdseye-header,
  body.splash-page.affix .birdseye-header {
    height: 50px;
    padding: 5px 20px;
  }
  body.page-has-banner .birdseye-header .logo,
  body.page-has-banner.affix .birdseye-header .logo,
  body.splash-page.affix .birdseye-header .logo {
    max-height: 40px;
  }
  body.page-has-banner .birdseye-header .logo img,
  body.page-has-banner.affix .birdseye-header .logo img,
  body.splash-page.affix .birdseye-header .logo img {
    max-height: 40px;
  }
  body.page-has-banner .main-wrap,
  body.page-has-banner.affix .main-wrap,
  body.splash-page.affix .main-wrap {
    padding-top: 40px;
  }
  body.cart-full #wsite-mini-cart {
    display: block !important;
  }
  body.cart-full .wsite-footer {
    padding-bottom: 70px;
  }
  .container {
    width: 100%;
  }
  /* Open nav styles */
  body.nav-open .mobile-nav {
    padding: 10px 0;
    max-height: 100vh;
  }
  body.nav-open .birdseye-header label.hamburger span {
    background: transparent;
  }
  body.nav-open .birdseye-header label.hamburger span:before {
    top: 1px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  body.nav-open .birdseye-header label.hamburger span:after {
    top: -1px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  body.splash-page.nav-open .wrapper .main-wrap {
    position: relative;
  }
  /* Header */
  .birdseye-header {
    height: 50px;
    padding: 5px 20px;
    background: rgba(35, 35, 35, 0.95);
  }
  .birdseye-header .logo {
    overflow: hidden;
    max-width: 85%;
    max-height: 40px;
  }
  .birdseye-header .logo a {
    margin-left: 0;
    margin-right: 0;
    font-size: 1.1em;
    line-height: 1.4em;
  }
  .birdseye-header .logo img {
    max-height: 40px;
  }
  .birdseye-header .logo #wsite-title {
    display: block;
    max-width: 100%;
    font-size: 1.1em !important;
    line-height: 1.4em !important;
  }
  .birdseye-header .container {
    height: 40px;
    max-height: inherit;
  }
  .birdseye-header label.hamburger {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    width: 30px;
    height: 30px;
    padding: 10px;
    cursor: pointer;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
  }
  .birdseye-header label.hamburger span,
  .birdseye-header label.hamburger span:before,
  .birdseye-header label.hamburger span:after {
    position: relative;
    display: block;
    width: 22px;
    height: 2px;
    background: #ffffff;
    content: '';
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
  }
  .birdseye-header label.hamburger span {
    top: 9px;
    left: 4px;
    margin: 5px 0;
  }
  .birdseye-header label.hamburger span:before {
    top: -8px;
  }
  .birdseye-header label.hamburger span:after {
    bottom: -6px;
  }
  .desktop-nav {
    display: none;
  }
  .mobile-nav {
    position: fixed;
    top: 50px;
    left: 0;
    z-index: 12;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    max-height: 0;
    padding: 0;
    background: rgba(35, 35, 35, 0.95);
    box-sizing: border-box;
    -webkit-transition: all 300ms cubic-bezier(0, 0.085, 0.68, 0.53);
    -moz-transition: all 300ms cubic-bezier(0, 0.085, 0.68, 0.53);
    -ms-transition: all 300ms cubic-bezier(0, 0.085, 0.68, 0.53);
    -o-transition: all 300ms cubic-bezier(0, 0.085, 0.68, 0.53);
    transition: all 300ms cubic-bezier(0, 0.085, 0.68, 0.53);
  }
  .mobile-nav ul {
    float: none;
    height: auto;
  }
  .mobile-nav li {
    position: relative;
    display: block !important;
    margin: 0;
    border: none;
    text-align: center;
  }
  .mobile-nav li .wsite-menu-link-styles {
    position: relative;
    padding: 10px 0;
    border: none;
  }
  .mobile-nav li > a.wsite-menu-item {
    position: relative;
    padding: 10px 0;
    border: none;
  }
  .mobile-nav li > a.wsite-menu-subitem {
    display: block;
    position: relative;
    padding: 10px 0;
    border: none;
    color: #a1a1a1;
    text-transform: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
  }
  .mobile-nav li .wsite-menu-wrap {
    display: block !important;
    overflow: hidden;
    max-height: 0;
    -webkit-transition: all 500ms ease-in-out 250ms;
    -moz-transition: all 500ms ease-in-out 250ms;
    -ms-transition: all 500ms ease-in-out 250ms;
    -o-transition: all 500ms ease-in-out 250ms;
    transition: all 500ms ease-in-out 250ms;
  }
  .mobile-nav li .wsite-menu-wrap li.wsite-nav-current > a.wsite-menu-subitem {
    background: rgba(0, 0, 0, 0.95);
    border: none;
  }
  .mobile-nav li .wsite-menu-wrap .wsite-menu-arrow {
    display: none;
  }
  .mobile-nav li.wsite-menu-item-wrap#active > a.wsite-menu-item,
  .mobile-nav li.wsite-menu-item-wrap > a.wsite-menu-item:hover,
  .mobile-nav li.wsite-menu-subitem-wrap > a.wsite-menu-subitem:hover {
    background: rgba(0, 0, 0, 0.95);
    border: none;
  }
  .mobile-nav li.has-submenu > span.icon-caret {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 10px 20px;
    cursor: pointer;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
  }
  .mobile-nav li.has-submenu > span.icon-caret:before {
    position: relative;
    display: block;
    color: white;
    font-size: 24px;
    content: '\203A';
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .mobile-nav li.has-submenu .wsite-menu-wrap.open {
    max-height: 1000px;
  }
  .mobile-nav li.wsite-nav-more {
    display: none !important;
  }
  /* Banner */
  .banner-wrap {
    padding: 0 40px;
  }
  .banner-wrap .container {
    padding: 110px 0 60px;
  }
  .banner-wrap .banner h2 {
    font-family: 'Raleway', serif;
    font-size: 50px;
    font-weight: 400;
    line-height: 60px;
  }
  .main-wrap {
    padding: 30px 20px;
  }
  /* Footer */
  .footer-wrap .wsite-footer {
    width: 100%;
    padding: 10px 20px 20px;
    box-sizing: border-box;
  }
  .footer-wrap td.wsite-multicol-col {
    margin-bottom: 25px !important;
  }
  .footer-wrap td.wsite-multicol-col:last-child {
    width: 100% !important;
  }
  
  #wsite-mini-cart .wsite-product-list {
    display: none;
  }
  /* Landing page */
  .landing-page .banner-wrap {
    min-height: 400px;
    max-height: 630px;
  }
  /* No Header page */
  .no-header-page .birdseye-header {
    padding: 5px 20px;
    height: 50px;
  }
  .no-header-page .main-wrap {
    padding-top: 80px;
  }
  /* Splash page */
  .splash-page .birdseye-header {
    padding: 5px 20px;
    background: rgba(35, 35, 35, 0.95);
  }
  .splash-page .main-wrap {
    padding: 4em 1.5em;
  }
  .splash-page .main-wrap .splash-content {
    width: 100%;
  }
  .splash-page .main-wrap h2 {
    font-family: 'Raleway', serif;
    font-size: 2.75em;
    font-weight: 400;
    line-height: 1.3em;
  }
  .splash-page .main-wrap p,
  .splash-page .main-wrap div.paragraph {
    font-size: 16px;
    line-height: 26px;
  }
}

 /* chat bubble */
.msg-list {
        width: 100%;
    }
.messenger-container {
    padding: 8px 15px 8px 13px;
    margin: 0 0 25px 35px;
    float: left;
    max-width: 82%;
    background: #f2f2f2;
    border-radius: 10px;
    min-width: 20%;
    position: relative; box-sizing: border-box;
    box-shadow: 7px 10px 6px -5px #BBC0C7;
}
.messenger-container h4 {
    color: #0000FF;
    font-size: 18px;
    margin-bottom: 6px;
    line-height: 18px;
    word-wrap: break-word; margin: 0;
}
.sender .messenger-container {
    float: right;
    margin-right: 35px;
    width: auto;
    background: #D5DBFF;
    margin-left: 0px;
    padding: 8px 15px 8px 13px;
}
.clear {
    clear:both;
    width: 100%;
    padding: 0px !important;
    margin: 0px;
    height:0px;
}
    .messenger-container::before {
        width: 0px;
        height: 0px;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent; 

        border-right:15px solid #f2f2f2; 
        content: "";
        position: absolute;
        top: 9px;
        left: -15px;
    }
 .sender .messenger-container::before {
       width: 0px;
       height: 0px;
       border-top: 8px solid transparent;
       border-bottom: 8px solid transparent;
       border-left: 15px solid #D5DBFF;
       content: "";
       position: absolute;
       top: 9px;
       left: 99%;border-right: none;
}

.navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
   
.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
    min-height:200px;
}



  

