<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Classroom</title>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/css/bootstrap.min.css" type="text/css" media="all">

</head>

<body>
{% load staticfiles %}
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'home_view'%}">Return to home</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{% url 'courses_view' %}">Change class</a>
                    </li>
                    <li>
                        <a href="{% url 'user_logout' %}">Logout</a>
                    </li>              
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Math
                    <small>Level {{level|safe}}  {{user.username|safe}}</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row" >

            <div class="col-md-8" style="background: url({% static "css/images/blackboard.png" %}) no-repeat;
														position: relative;
													  	margin:0 auto;
													  	overflow:hidden;													  															
													  	padding: 100px 25px 420px 25px;
													  	background-size: cover;
													  	height:600px">
                              
                {% if quiz %}	
				<form enctype="multipart/form-data" method="post" action="{% url 'course_question_process' course=course level=level step=step suuid=suuid %}">
					{% csrf_token %}
					<div class="row">
						<div class="col-sm-4">
						<h1 style="color:white">{{content|safe}}</h1>
						</div>						
						<div class="col-sm-4">
						<input type="text" id="question" name="ques" style="line-height: 60px; font-size:50px; width:120px;">
						<input type="hidden" name="clp_id" value="{{clp_id}}" />		
						<input type="hidden" name="quiz" value="{{quiz}}" />
						<input type="hidden" name="sid" value="{{sid}}" />			
						</div>
						<button type="submit" class="btn btn-warning btn-lg">Next</button>	
					</div>
						
				</form>	
				
				{% else %}
				<div class="row">
				<div class="col-sm-2"><img src="{% static "css/images/elsa_round_ei.jpg" %}" style="width:100px;height:100px;"></div>
					<div class="col-sm-10">
						<div class="msg-list">
					    <div class="messenger-container">
					        <h4 style="color:white">{{content|safe}}</h4>
					    </div>
					</div>
					</div>	
				</div>
					
			
				<div class="row">
					{% if not button %}	
					<form enctype="multipart/form-data" method="post" action="{% url 'course_question_process' course=course level=level step=step suuid=suuid %}">
					{% csrf_token %}						
					<div  class="col-sm-10">	
						<input type="text" id="question" name="ques"/>		
						<button type="submit" class="btn btn-warning btn-lg">Send</button>	
					</div>
					</form>	
					{% else %}
					<div class="col-sm-5">
						<a role="button" class="btn btn-warning btn-lg" href="{% url 'course_question_process' course=course level=level step=step suuid=suuid %}">Ready</a>
					</div>
						
					{% endif %}
				</div>
				
				{% endif %}
                
            </div>

            <div class="col-md-4">
                <h3>Progress</h3>
                
                <h3>Current at Step {{step|safe}}</h3>
                <ul>
                	{% for r in records %}
                    <li>Step {{r.step|safe}}  
                    {% if r.correct %}
                    <img src="{% static "css/images/green-tick.jpg" %}" style="width:20px;height:20px;">
                    {% else %}
                    <img src="{% static "css/images/wrong.png" %}" style="width:20px;height:20px;">
                    {% endif %}
                    
                    </li>
                    {% endfor %}
                                       
                </ul>
            </div>

        </div>

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Better Learning for kids 2016</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
