{% extends "_base.html" %}
{% block background %}
{% load staticfiles %}
<div class="main-wrap" style="background: url({% static "css/images/blackboard.png" %}) no-repeat;">
{% endblock %}

{% block content %}
{% load staticfiles %}
<div class="carousel-caption"> 
	{% if quiz %}	
	<div class='row'>	
	<form enctype="multipart/form-data" method="post" action="{% url 'course_question_process' course=course level=level step=step %}">
		{% csrf_token %}
			<div class="col-xs-5">
			<h2 stle="color:white">{{content|safe}}</h2>
			</div>						
			<div class="col-xs-1">
			<input type="text" id="question" name="ques" style="line-height: 60px; font-size:50px; width:120px;">
			<input type="hidden" name="clp_id" value="{{clp_id}}" />		
			<input type="hidden" name="quiz" value="{{quiz}}" />
			<input type="hidden" name="sid" value="{{sid}}" />			
			</div>
			<button type="submit" class="btn btn-warning btn-lg">Next</button>	
		</form>	
	</div>
	
	{% else %}
	
	<div class='row vtop'>
		<div class="col-xs-1"><img src="{% static "css/images/elsa_round_ei.jpg" %}" style="width:150px;height:150px;"></div>
		<div class="col-xs-11">
			<div class="msg-list">
		    <div class="messenger-container">
		        <h4>{{content|safe}}</h4>
		    </div>
		</div>
		</div>	
	</div>		

	<div class="row vbottom">
		{% if not button %}	
		<form enctype="multipart/form-data" method="post" action="{% url 'course_question_process' course=course level=level step=step %}">
		{% csrf_token %}						
		<div  class="col-sm-10 vbottom">	
			<input type="text" id="question" name="ques"/>		
			<button type="submit" class="btn btn-warning btn-lg">Send</button>	
		</div>
		</form>	
		{% else %}
			<a role="button" class="btn btn-warning btn-lg" href="{% url 'course_question_process' course=course level=level step=step%}">Ready</a>
		{% endif %}
	</div>
	
	{% endif %}
	
</div>

{% endblock %}